@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/buttons";

// Global styles
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700');

body {
  background: #fafbfc;
  font-family: 'Roboto', "Proxima Nova", "Helvetica Neue", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  color: #4c555a;
  font-family: 'Roboto', "Proxima Nova", "Helvetica Neue", sans-serif;
}
div,button,p,span,strong,a {
  font-family: 'Roboto', "Proxima Nova", "Helvetica Neue", sans-serif;
}

// Navigation menu
.nav {
  border-bottom: 1px solid rgba(0,0,0,.14);
  margin-bottom: 20px;

  .nav-link {
    color: rgba(0,0,0,.65);

    &.active {
      font-weight: 700;
      color: rgba(0,0,0,.8);
    }
  }
}
